:root {
    --black-global: #030303;
    --white-global: #ffffff;
    --dark-gray-text: #4D4D4D;
    --dark-gray-graphic: #464646;
    --dark-gray-back: #212121;
    --gray-global: #919191;
    --dark-gray-back: #565656;
    --light-gray-global: #D0D0D0;
    --light-gray-back: #DFDFDF;
}