/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

/* CONTAINER (блок) */

.container {
  width: 100%;
  max-width: 1920px;
  margin-inline: auto;
  padding-inline: 50px;
}

/* HEADER (блок) */

/* Базовое меню */
.nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-btn {
  background: none;
  border: none;
  font: inherit;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

/* Панель */
.menu-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.5); /* полупрозрачный фон */
  transform: translateY(-100%);
  transition: transform 0.4s ease;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
}

.menu-panel.active {
  transform: translateY(0);
}

.menu-panel-content {
  background: white;
  width: 100%;
  padding: 40px 20px;
}

.menu-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.menu-columns h3 {
  font-weight: bold;
  margin-bottom: 15px;
  color: #030303;
}

.menu-columns ul {
  list-style: none;
  padding: 0;
}

.menu-columns li {
  margin-bottom: 8px;
}


/* intro (блок) */

.intro {
  text-align: center;
  padding-top: 150px;
  position: relative;
}

.intro__image {
  margin-bottom: 20px;
}

.intro__img {
  width: 250px;
}

.intro__title {
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 5px;
}

.intro__subtitle {
  margin-top: 30px;
  font-size: 24px;
  font-weight: bold;
}

.intro__text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.6;
  color: #ccc;
}

